aiohttp==3.9.5
cohere==5.11.2
datasets==3.0.2
flashrank==0.2.9
kiwipiepy==0.18.0
langchain==0.3.4
langchain-chroma==0.1.4
langchain-cohere==0.3.1
langchain-community==0.3.3
langchain-core==0.3.15
langchain-huggingface==0.1.2
langchain-openai==0.2.3
langchain_pinecone==0.2.0
langchain-teddynote==0.3.21
langchain-text-splitters==0.3.0
langchain-unstructured==0.1.5
langchain-upstage==0.3.0
langsmith==0.1.137
faiss-gpu==1.7.2
ragas==0.1.15
rouge_score==0.1.2